[submodule "test/python"]
	path = test/python
	url = https://github.com/abitofhelp/hybrid_test_python.git
[submodule "docs/common"]
	path = docs/common
	url = https://github.com/abitofhelp/hybrid_lib_docs.git
[submodule "scripts/python/shared"]
	path = scripts/python/shared
	url = https://github.com/abitofhelp/hybrid_python_scripts.git
