[submodule "scripts/python/shared"]
	path = scripts/python/shared
	url = git@github.com:abitofhelp/hybrid_scripts_python.git
[submodule "test/scripts/python/shared"]
	path = test/scripts/python/shared
	url = git@github.com:abitofhelp/hybrid_test_python.git
